body{
	background: #E0D9D4;
}

h3{
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	background-color: #EAEAEA;
	color: #914141;
	margin-top: 0px
}
hr {
	background-color: ;
	height: 1px;
}

.well{
	background-color: #fff;
	border-radius: 20px
}

.navbar {
	background-color: #009688;
	/*backup-color #3498DB*/
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
}

.logo{
	border-radius: 5px;
	margin-top: -4px;
	height: 30px;
}

.navbar-nav {
	color: #fff;
}

.main-heading {
	color: #fff;
}

.nav-color {
	color: #fff;
}

.container-fluid {
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
}

.container{
	background-color: #F5F5F5;
	padding: 20px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

.heading{
	color: #5181A3;
}

.text {
	margin: left;
}

.heading2{
	margin-top: 50px;
}

.testimonial-background{
	background-color: #DAEDFF;
	padding: 20px;
}

.footer{
	margin-top: 20px;
	background-color: #009688;
	padding: 15px;
	border-radius: 5px;
}

.footer-text {
	color: #fff;
}

.footer-link{
	text-decoration:none;
	margin: 20px;
	color: #B4BFC7;
	text-decoration:none;
}

.image {
	width: 100%;

}

.world_image{
	float: left;
	border-radius: 10px;
}

.social {
	margin-top: 11px;
}
